@media(max-width:320px){
 
  
}
@media(max-width:360px){
    
}
@media(max-width:480px){
    .main{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        background:white;
        background-size:cover;
        height:100vw
    }
    .div{
        display:flex;
        flex-flow:wrap;
        grid-area:1/2/2/3;
        position:relative;
        left:-200px;
    }
    .div2{
        grid-area:1/1/2/2;
    }
    .hr{
        color:linear-gradient(rgb(218,165,32),rgb(255,255,255))
    }
    .mainBorder{
        border-color:radial-gradient(rgb(218.165,32),rgb(255,0,0),rgb(0,0,0));
        border-radius:5%;
    }
    .headerFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:24px;
        color:goldenrod;
    }
    .subHeaderFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:18px;
        color:goldenrod;
    }
    .navGroup{
        grid-area:2/4/3/5;
        display:flex;
        position:relative;
        
        
    }
    .hrl1{
        grid-area:1/2/2/3;
        position:relative;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:45px;
        width:600px;
        z-index:3;
        bottom:15px;
        right:120px;
        border-color:transparent;
        border:transparent;
        
    }
    .hrl2{
        grid-area:1/2/2/3;
        position:relative;
        right:435px;
        top:250px;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        width:600px;
        height:45px;
        z-index:2;
        border-color:transparent;
        border:transparent;
    }
    .hrl3{
        grid-area:5/4/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:600px;
        height:45px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:375px;
        right:570px;
    }
    .hrl4{
        grid-area:5/3/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:600px;
        height:45px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:670px;
        right:250px;
    }
    .projhr1{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-90deg;
        position:relative;
        top:93px;
        left:-10px;
    }
    .projhr2{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-180deg;
        position:relative;
        bottom:52px;
        left:-10px;
    }
    .navGroup2{
        display:flex;
        position:relative;
        grid-area:1/5/2/6;
    
    }
   
    .img1{
        grid-area:1/1/2/2;
        display:flex;
        align-content:flex-start;
        justify-content:flex-start;
        position:relative;
        
    }
    .header1{
        align-content:space-around;
        justify-content:flex-start;
        font-family:"montserrat",sans-serif;
        font-weight:200;
        color:rgba(218,165,32);
        position:relative;
        font-size:72px;
        top:100px;
        right:100px;
    }
    .header2Proj{
        grid-area:3/3/4/4;
        display:flex;
        font-family:"montserrat",sans-serif;
        font-weight:130;
        align-content:flex-start;
        justify-content:flex-end;
        position:relative;
        top:-110px;
        color:rgba(218,165,32);
        font-size:48px;
    }
   
    .para1{
        grid-area:2/3/3/4;
        position:relative;
        flex-flow:wrap;
        align-content:space-around;
        font-family:"montserrat",sans-serif;
        font-size:40px;
        width:900px;
        left:350px;
        top:500px;
        
    }
    

    .footer{
        grid-area:2/2/3/3;
        display:flex;
        align-self:flex-start;
        position:relative;
        bottom:350px;
    }
    .footerHeader{
        justify-content:flex-start;
        align-self:flex-start;
        position:relative;
        bottom:45px;
        left:450px;
        font-family:"montserrat",sans-serif;
        font-weight:100;
        font-size:80px;
        color:rgba(218,165,32);
        height:10px;
        top:750px;
    }
    .footerHr{
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:20px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        align-self:flex-start;
        justify-self:flex-start;
        rotate:-180deg;
        left:15px;
        top:890px;
    }
    .fI1{
    position:relative;
    grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
    left:-475px;
    top:475px;
    
    }
    .fI2{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-270px;
        top:475px;
    }
    .fI3{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-100px;
        top:475px;
    }
    .fI4{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
       left:75px;
       top:475px;
    }
  
    
}
@media(min-width:700px){
    .main{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        background:white;
        background-size:cover;
        height:100vw
    }
    .div{
        display:flex;
        flex-flow:wrap;
        grid-area:1/2/2/3;
        position:relative;
        left:-200px;
    }
    .div2{
        grid-area:1/1/2/2;
        position:relative;
        left:75px;
    }
    .hr{
        color:linear-gradient(rgb(218,165,32),rgb(255,255,255))
    }
    .mainBorder{
        border-color:radial-gradient(rgb(218.165,32),rgb(255,0,0),rgb(0,0,0));
        border-radius:5%;
    }
    .headerFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:24px;
        color:goldenrod;
    }
    .subHeaderFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:18px;
        color:goldenrod;
    }
    .navGroup{
        grid-area:2/4/3/5;
        display:flex;
        position:relative;
        
        
    }
    .hrl1{
        grid-area:1/2/2/3;
        position:relative;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:25px;
        width:400px;
        z-index:3;
        bottom:17px;
        right:235px;
        border-color:transparent;
        border:transparent;
        
    }
    .hrl2{
        grid-area:1/2/2/3;
        position:relative;
        right:445px;
        top:170px;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        z-index:2;
        border-color:transparent;
        border:transparent;
    }
    .hrl3{
        grid-area:5/4/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:600px;
        height:45px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:375px;
        right:570px;
    }
    .hrl4{
        grid-area:5/3/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:600px;
        height:45px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:670px;
        right:250px;
    }
    .projhr1{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-90deg;
        position:relative;
        top:93px;
        left:-10px;
    }
    .projhr2{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-180deg;
        position:relative;
        bottom:52px;
        left:-10px;
    }
    .navGroup2{
        display:flex;
        position:relative;
        grid-area:1/5/2/6;
    
    }
   
    .img1{
        grid-area:1/1/2/2;
        display:flex;
        align-content:flex-start;
        justify-content:flex-start;
        position:relative;
        
    }
    .header1{
        align-content:space-around;
        justify-content:flex-start;
        font-family:"montserrat",sans-serif;
        font-weight:200;
        color:rgba(218,165,32);
        position:relative;
        font-size:72px;
        top:100px;
        right:100px;
    }
    .header2Proj{
        grid-area:3/3/4/4;
        display:flex;
        font-family:"montserrat",sans-serif;
        font-weight:130;
        align-content:flex-start;
        justify-content:flex-end;
        position:relative;
        top:-110px;
        color:rgba(218,165,32);
        font-size:48px;
    }
   
    .para1{
        grid-area:2/3/3/4;
        position:relative;
        flex-flow:wrap;
        align-content:space-around;
        font-family:"montserrat",sans-serif;
        font-size:24px;
        width:900px;
        left:350px;
        top:300px;
        
    }
    

    .footer{
        grid-area:2/2/3/3;
        display:flex;
        align-self:flex-start;
        position:relative;
        bottom:350px;
    }
    .footerHeader{
        justify-content:flex-start;
        align-self:flex-start;
        position:relative;
        bottom:45px;
        left:450px;
        font-family:"montserrat",sans-serif;
        font-weight:100;
        font-size:80px;
        color:rgba(218,165,32);
        height:10px;
        top:750px;
    }
    .footerHr{
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:20px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        align-self:flex-start;
        justify-self:flex-start;
        rotate:-180deg;
        left:15px;
        top:890px;
    }
    .fI1{
    position:relative;
    grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
    left:-475px;
    top:475px;
    
    }
    .fI2{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-270px;
        top:475px;
    }
    .fI3{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-100px;
        top:475px;
    }
    .fI4{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
       left:75px;
       top:475px;
    }
  

}
@media(min-width:1000px) {
    .main{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        background:white;
        background-size:cover;
        height:100vw
    }
    .div{
        display:flex;
        flex-flow:wrap;
        grid-area:1/2/2/3;
        position:relative;
        
    }
    .div2{
        grid-area:1/1/2/2;
        position:relative;
        left:75px;
        right:-200px;
    }
    .hr{
        color:linear-gradient(rgb(218,165,32),rgb(255,255,255))
    }
    .mainBorder{
        border-color:radial-gradient(rgb(218.165,32),rgb(255,0,0),rgb(0,0,0));
        border-radius:5%;
    }
    .headerFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:24px;
        color:goldenrod;
    }
    .subHeaderFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:18px;
        color:goldenrod;
    }
    .navGroup{
        grid-area:1/3/2/4;
        display:flex;
        position:relative;
        
        
    }
    .hrl1{
        grid-area:1/2/2/3;
        position:relative;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:25px;
        width:400px;
        z-index:3;
        bottom:17px;
        right:150px;
        top:50px;
        border-color:transparent;
        border:transparent;
        
    }
    .hrl2{
        grid-area:1/2/2/3;
        position:relative;
        right:337px;
        top:240px;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        z-index:2;
        border-color:transparent;
        border:transparent;
    }
    .hrl3{
        grid-area:5/4/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-490px;
        right:340px;
    }
    .hrl4{
        grid-area:5/3/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-300px;
        right:60px;
    }
    .projhr1{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-90deg;
        position:relative;
        top:205px;
        left:300px;
    }
    .projhr2{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-180deg;
        position:relative;
        bottom:400px;
        left:-55px;
        top:100px;
    }
    .nav1{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        left:0px;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        top:55px;
    
    }
    .navhr1{
        position:relative;
        grid-column:1;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255)); 
        height:10px;
        width:75px;  
        rotate:360deg;
        justify-self:flex-start;
        align-self:flex-start;
        top:80px;
        right:50px;
        border-color:transparent;
        border:transparent;
    }
    .nav2{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        left:35px;
        top:55px;
    }
    .navhr2{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:150px;  
        rotate:360deg;
        top:80px;
        right:100px;
        border-color:transparent;
        border:transparent;
    }
    .nav3{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        left:-40px;
        color:rgba(218,165,32);
        grid-area:1/5/2/6;
        font-size:24px;
        top:55px;
    }
    .navhr3{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:80px;  
        rotate:360deg;
        top:80px;
        right:110px;
        border-color:transparent;
        border:transparent;
    
    }
    .navGroup2{
        display:flex;
        position:relative;
        grid-area:1/5/2/6;
    
    }
   
    .img1{
        grid-area:1/1/2/2;
        display:flex;
        align-content:flex-start;
        justify-content:flex-start;
        position:relative;
        
    }
    .header1{
        align-content:space-around;
        justify-content:flex-start;
        font-family:"montserrat",sans-serif;
        font-weight:200;
        color:rgba(218,165,32);
        position:relative;
        font-size:72px;
        top:100px;
        right:100px;
    }
    .header2Proj{
        grid-area:3/3/4/4;
        display:flex;
        font-family:"montserrat",sans-serif;
        font-weight:130;
        align-content:flex-start;
        justify-content:flex-end;
        position:relative;
        top:-110px;
        color:rgba(218,165,32);
        font-size:48px;
    }
   
    .para1{
        grid-area:2/3/3/4;
        position:relative;
        
        align-content:space-around;
        font-family:"montserrat",sans-serif;
        font-size:20px;
        width:900px;
        left:550px;
        bottom:1200px;
        top:90px;
        right:300px;
    }
    

    .footer{
        grid-area:2/2/3/3;
        display:flex;
        align-self:flex-start;
        position:relative;
        bottom:1000px;
    }
    .footerHeader{
        justify-content:flex-start;
        align-self:flex-start;
        position:relative;
        bottom:45px;
        left:450px;
        font-family:"montserrat",sans-serif;
        font-weight:100;
        font-size:50px;
        color:rgba(218,165,32);
        height:10px;
        top:800px;
    }
    .footerHr{
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        align-self:flex-start;
        justify-self:flex-start;
        rotate:-180deg;
        left:10px;
        top:890px;
    }
    .fI1{
    position:relative;
    grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
    left:-675px;
    top:-400px;
    
    }
    .fI2{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-660px;
        top:-550px;
    }
    .fI3{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-100px;
        top:475px;
    }
    .fI4{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
       left:75px;
       bottom:475px;
    }
  

}


@media(min-width:1024px){
    .hrl3{
        grid-area:5/4/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-560px;
        right:340px;
    }
    .hrl4{
        grid-area:5/3/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-365px;
        right:60px;
    }

}
@media(max-width:1366px){

}
@media(min-width:1920px){
    .main{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        background:white;
        background-size:cover;
        height:100vw
    }
    .div{
        display:flex;
        flex-flow:wrap;
        grid-area:1/2/2/3;
        position:relative;
        
    }
    .div2{
        grid-area:1/1/2/2;
        position:relative;
        left:75px;
        right:-200px;
    }
    .hr{
        color:linear-gradient(rgb(218,165,32),rgb(255,255,255))
    }
    .mainBorder{
        border-color:radial-gradient(rgb(218.165,32),rgb(255,0,0),rgb(0,0,0));
        border-radius:5%;
    }
    .headerFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:24px;
        color:goldenrod;
    }
    .subHeaderFont{
        font-family: "montserrat", sans-serif;
        font-weight: 100;
        font-size:18px;
        color:goldenrod;
    }
    .navGroup{
        grid-area:1/3/2/4;
        display:flex;
        position:relative;
        
        
    }
    .hrl1{
        grid-area:1/2/2/3;
        position:relative;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:25px;
        width:400px;
        z-index:3;
        bottom:17px;
        right:150px;
        top:50px;
        border-color:transparent;
        border:transparent;
        
    }
    .hrl2{
        grid-area:1/2/2/3;
        position:relative;
        right:337px;
        top:240px;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        z-index:2;
        border-color:transparent;
        border:transparent;
    }
    .hrl3{
        grid-area:5/4/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-575px;
        right:340px;
    }
    .hrl4{
        grid-area:5/3/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-400px;
        right:60px;
    }
    .projhr1{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-90deg;
        position:relative;
        top:205px;
        left:300px;
    }
    .projhr2{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-180deg;
        position:relative;
        bottom:400px;
        left:-55px;
        top:100px;
    }
    .nav1{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        left:0px;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        top:55px;
    
    }
    .navhr1{
        position:relative;
        grid-column:1;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255)); 
        height:10px;
        width:75px;  
        rotate:360deg;
        justify-self:flex-start;
        align-self:flex-start;
        top:80px;
        right:50px;
        border-color:transparent;
        border:transparent;
    }
    .nav2{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        left:35px;
        top:55px;
    }
    .navhr2{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:150px;  
        rotate:360deg;
        top:80px;
        right:100px;
        border-color:transparent;
        border:transparent;
    }
    .nav3{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        left:-40px;
        color:rgba(218,165,32);
        grid-area:1/5/2/6;
        font-size:24px;
        top:55px;
    }
    .navhr3{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:80px;  
        rotate:360deg;
        top:80px;
        right:110px;
        border-color:transparent;
        border:transparent;
    
    }
    .navGroup2{
        display:flex;
        position:relative;
        grid-area:1/5/2/6;
    
    }
   
    .img1{
        grid-area:1/1/2/2;
        display:flex;
        align-content:flex-start;
        justify-content:flex-start;
        position:relative;
        
    }
    .header1{
        align-content:space-around;
        justify-content:flex-start;
        font-family:"montserrat",sans-serif;
        font-weight:200;
        color:rgba(218,165,32);
        position:relative;
        font-size:72px;
        top:100px;
        right:100px;
    }
    .header2Proj{
        grid-area:3/3/4/4;
        display:flex;
        font-family:"montserrat",sans-serif;
        font-weight:130;
        align-content:flex-start;
        justify-content:flex-end;
        position:relative;
        top:-110px;
        color:rgba(218,165,32);
        font-size:48px;
    }
   
    .para1{
        grid-area:2/3/3/4;
        position:relative;
        
        align-content:space-around;
        font-family:"montserrat",sans-serif;
        font-size:20px;
        width:900px;
        left:550px;
        bottom:1200px;
        top:90px;
        right:300px;
    }
    

    .footer{
        grid-area:2/2/3/3;
        display:flex;
        align-self:flex-start;
        position:relative;
        bottom:1000px;
    }
    .footerHeader{
        justify-content:flex-start;
        align-self:flex-start;
        position:relative;
        bottom:45px;
        left:450px;
        font-family:"montserrat",sans-serif;
        font-weight:100;
        font-size:50px;
        color:rgba(218,165,32);
        height:10px;
        top:800px;
    }
    .footerHr{
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        align-self:flex-start;
        justify-self:flex-start;
        rotate:-180deg;
        left:10px;
        top:890px;
    }
    .fI1{
    position:relative;
    grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
    left:-675px;
    top:-400px;
    
    }
    .fI2{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-660px;
        top:-550px;
    }
    .fI3{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
        left:-100px;
        top:475px;
    }
    .fI4{
        position:relative;
        grid-area:5/2/6/3;
    justify-self:flex-end;
    align-self:flex-start;
       left:75px;
       bottom:475px;
    }
  

}

@media(min-width:1280px){
    .hrl3{
        grid-area:5/4/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-755px;
        right:340px;
    }
    .hrl4{
        grid-area:5/3/6/4;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:25px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:-550px;
        right:60px;
    }

}