@media(max-width:400px) {
    .main{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        background:white;
        background-size:cover;
        height:100%;
    }
    .img1{
        grid-area:1/1/2/2;
        display:flex;
        align-content:flex-start;
        justify-content:flex-start;
        position:relative;
        height:200px;
        width:350px;
        bottom:175px;
        right:115px;
    }
    .hrl1{
        grid-area:1/1/2/2;
        position:relative;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:15px;
        width:200px;
        z-index:3;
        top:-10px;
        right:60px;
        border-color:transparent;
        border:transparent;
        bottom:35px;
    }
    .hrl2{
        grid-area:1/1/2/2;
        position:relative;
        right:153px;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:15px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:70px;
    }
    .hrl3{
        grid-area:3/2/4/3;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:15px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        left:250px;
        bottom:85px;
    }
    .hrl4{
        grid-area:3/2/4/3;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:15px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        bottom:-10px;
        left:143px;
        top:-18px;
    }
    .projhr1{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:175px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-90deg;
        position:relative;
        bottom:25px;
        right:110px;
    }
    .projhr2{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:175px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-180deg;
        position:relative;
        bottom:125px;
        right:25px;
    }
    .nav1{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        
    
    }
    .navhr1{
        position:relative;
        grid-column:1;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255)); 
        height:10px;
        width:75px;  
        rotate:360deg;
        justify-self:flex-start;
        align-self:flex-start;
        
        border-color:transparent;
        border:transparent;
    }
    .nav2{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        
    }
    .navhr2{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:150px;  
        rotate:360deg;
       
        border-color:transparent;
        border:transparent;
    }
    .nav3{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        
        color:rgba(218,165,32);
        grid-area:1/5/2/6;
        font-size:24px;
      
    }
    .navhr3{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:80px;  
        rotate:360deg;
       
        border-color:transparent;
        border:transparent;
    
    }
    .footer{
        grid-area:3/2/4/3;
        display:flex;
        align-self:flex-start;
        position:relative;
        
    }
    .footerHeader{
        justify-content:flex-start;
        align-self:flex-start;
        position:relative;
       
        font-family:"montserrat",sans-serif;
        font-weight:100;
        font-size:50px;
        color:rgba(218,165,32);
        height:10px;
     
    }
    .footerHr{
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        align-self:flex-start;
        justify-self:flex-start;
        rotate:-180deg;
      
    }
    .fI1{
    position:relative;
    grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
     top:65px;
     right:35px;
    
    }
    .fI2{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
     top:65px;
     right:25px;
    }
    .fI3{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
       top:15px;
       right:135px;
    }
    .fI4{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
       left:30px;
    top:10px;
    }
    .para{
        grid-area:1/2/2/3;
        font-family:"montserrat",sans-serif;
        color:black;
        font-size:14px;
        font-weight:500;
        position:relative;
        font-style:normal;
        width:250px;
        bottom:150px;
        left:50px;
    } 
    .header1{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:24px;
        font-family:"montserrat",sans-serif;
        top:75px;
        font-weight:400;
        left:50px;
    }
    .header2V{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:152px;
        font-weight:300;
        left:55px;
    }
    .header2G{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        font-weight:300;
        bottom:152px;
        left:105px;
    }
    .header1P{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:28px;
        font-family:"montserrat",sans-serif;
        font-weight:300;
        bottom:190px;
        left:45px;
    }
    .projLink1{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:185px;
        left:55px;
    }
    .projLink2{
        grid-area:2/2/3/3;
        display:flex;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:145px;
        right:-65px;
        width:250px;
        height:30px;
        text-align: flex-start;
        justify-self:flex-start;
    }
    .projLink3{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:150px;
        right:-60px;
    }
    .projHr3{
    grid-area:3/3/4/4;
    rotate:90deg;
    width:100px;
    background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
    height:10px;
    border:transparent;
    position:relative;
    top:125px;
    right:120px;
    bottom:300px;
    }
    
}
@media(min-width:400px){
    .main{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        background:white;
        background-size:cover;
        height:100%;
    }
    .img1{
        grid-area:1/1/2/2;
        display:flex;
        align-content:flex-start;
        justify-content:flex-start;
        position:relative;
        height:200px;
        width:350px;
        bottom:175px;
        right:115px;
    }
    .hrl1{
        grid-area:1/1/2/2;
        position:relative;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:15px;
        width:200px;
        z-index:3;
        top:-10px;
        right:120px;
        border-color:transparent;
        border:transparent;
        bottom:35px;
    }
    .hrl2{
        grid-area:1/1/2/2;
        position:relative;
        right:200px;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:15px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:70px;
    }
    .hrl3{
        grid-area:3/2/4/3;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:15px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        left:200px;
        bottom:-140px;
    }
    .hrl4{
        grid-area:3/2/4/3;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:200px;
        height:15px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        bottom:-10px;
        left:95px;
        top:210px;
    }
    .projhr1{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:175px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-90deg;
        position:relative;
        bottom:-150px;
        right:165px;
    }
    .projhr2{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:175px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-180deg;
        position:relative;
        bottom:-50px;
        right:75px;
    }
    .nav1{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        
    
    }
    .navhr1{
        position:relative;
        grid-column:1;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255)); 
        height:10px;
        width:75px;  
        rotate:360deg;
        justify-self:flex-start;
        align-self:flex-start;
        
        border-color:transparent;
        border:transparent;
    }
    .nav2{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        
    }
    .navhr2{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:150px;  
        rotate:360deg;
       
        border-color:transparent;
        border:transparent;
    }
    .nav3{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        
        color:rgba(218,165,32);
        grid-area:1/5/2/6;
        font-size:24px;
      
    }
    .navhr3{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:80px;  
        rotate:360deg;
       
        border-color:transparent;
        border:transparent;
    
    }
    .footer{
        grid-area:3/2/4/3;
        display:flex;
        align-self:flex-start;
        position:relative;
        
    }
    .footerHeader{
        justify-content:flex-start;
        align-self:flex-start;
        position:relative;
       
        font-family:"montserrat",sans-serif;
        font-weight:100;
        font-size:50px;
        color:rgba(218,165,32);
        height:10px;
     
    }
    .footerHr{
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        align-self:flex-start;
        justify-self:flex-start;
        rotate:-180deg;
      
    }
    .fI1{
    position:relative;
    grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
     top:260px;
     right:35px;
    
    }
    .fI2{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
     top:260px;
     right:25px;
    }
    .fI3{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
       top:210px;
       right:135px;
    }
    .fI4{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
       left:-240px;
    top:260px;
    
    }
    .para{
        grid-area:1/2/2/3;
        font-family:"montserrat",sans-serif;
        color:black;
        font-size:14px;
        font-weight:500;
        position:relative;
        font-style:normal;
        width:250px;
        bottom:150px;
        left:50px;
    } 
    .header1{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:24px;
        font-family:"montserrat",sans-serif;
        top:75px;
        font-weight:400;
        left:50px;
    }
    .header2V{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:152px;
        font-weight:300;
        left:55px;
    }
    .header2G{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        font-weight:300;
        bottom:152px;
        left:105px;
    }
    .header1P{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:28px;
        font-family:"montserrat",sans-serif;
        font-weight:300;
        bottom:30px;
        left:45px;
    }
    .projLink1{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:-10px;
        left:55px;
    }
    .projLink2{
        grid-area:2/2/3/3;
        display:flex;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:-35px;
        right:-65px;
        width:250px;
        height:30px;
        text-align: flex-start;
        justify-self:flex-start;
    }
    .projLink3{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:18px;
        font-family:"montserrat",sans-serif;
        bottom:-20px;
        right:-60px;
    }
    .projHr3{
    grid-area:3/3/4/4;
    rotate:90deg;
    width:100px;
    background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
    height:10px;
    border:transparent;
    position:relative;
    top:125px;
    right:160px;
    bottom:300px;
    }
    
}

@media(min-width:700px){
    .main{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        background:white;
        background-size:cover;
        height:100%;
    }
    .img1{
        grid-area:1/1/2/2;
        display:flex;
        align-content:flex-start;
        justify-content:flex-start;
        position:relative;
        height:300px;
        width:450px;
        bottom:250px;
        right:15px;
    }
    .hrl1{
        grid-area:1/1/2/2;
        position:relative;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:15px;
        width:400px;
        z-index:3;
        top:50px;
        right:155px;
        border-color:transparent;
        border:transparent;
        bottom:35px;
    }
    .hrl2{
        grid-area:1/1/2/2;
        position:relative;
        right:350px;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:15px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        top:220px;
    }
    .hrl3{
        grid-area:2/2/3/3;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:15px;
        rotate:90deg;
        z-index:2;
        border-color:transparent;
        border:transparent;
        left:925px;
        bottom:300px;
    }
    .hrl4{
        grid-area:2/2/3/3;
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:400px;
        height:15px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        bottom:525px;
        left:735px;
        top:-125px;
    }
    .projhr1{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:250px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-90deg;
        position:relative;
        bottom:110px;
        right:25px;
        left:300px;
    }
    .projhr2{
        grid-area:3/3/4/4;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:250px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        rotate:-180deg;
        position:relative;
        bottom:250px;
        left:425px;
    }
    .nav1{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        left:300px;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        
    
    }
    .navhr1{
        position:relative;
        grid-column:1;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255)); 
        height:10px;
        width:75px;  
        rotate:360deg;
        justify-self:flex-start;
        align-self:flex-start;
        top:30px;
        border-color:transparent;
        border:transparent;
        left:175px;
    }
    .nav2{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        color:rgba(218,165,32);
        grid-area:2/4/3/5;
        font-size:24px;
        left:300px;
    }
    .navhr2{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:150px;  
        rotate:360deg;
        top:30px;
        border-color:transparent;
        border:transparent;
        left:100px;
    }
    .nav3{
        position:relative;
        font-family: "montserrat", sans-serif;
        font-weight: 200;
        justify-content:space-between;
        left:150px;
        color:rgba(218,165,32);
        grid-area:1/5/2/6;
        font-size:24px;
      
    }
    .navhr3{
        position:relative;
        grid-area:1/5/2/6;
        rotate:90deg;
        background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
        height:10px;
        width:80px;  
        rotate:360deg;
        top:30px;
        border-color:transparent;
        border:transparent;
        
    
    }
    .navGroup{
        grid-area:3/4/4/5;
        display:flex;
        position:relative;
        left:300px;
        
    }
    
    .footer{
        grid-area:3/2/4/3;
        display:flex;
        align-self:flex-start;
        position:relative;
        
    }
    .footerHeader{
        justify-content:flex-start;
        align-self:flex-start;
        position:relative;
       
        font-family:"montserrat",sans-serif;
        font-weight:100;
        font-size:50px;
        color:rgba(218,165,32);
        height:10px;
        bottom:100px;
        left:525px;
    }
    .footerHr{
        position:relative;
        background:linear-gradient(-90deg,rgba(218,165,32),rgba(255,255,255));
        width:300px;
        height:10px;
        z-index:2;
        border-color:transparent;
        border:transparent;
        align-self:flex-start;
        justify-self:flex-start;
        rotate:-180deg;
        left:50px;
    }
    .fI1{
    position:relative;
    grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
     top:-30px;
     left:450px;
    
    }
    .fI2{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
     top:-30px;
     left:500px;
    }
    .fI3{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
       top:-30px;
       left:550px;
    }
    .fI4{
        position:relative;
        grid-area:5/1/6/2;
    justify-self:flex-end;
    align-self:flex-start;
       left:600px;
    top:-30px;
    
    }
    .para{
        grid-area:1/2/2/3;
        font-family:"montserrat",sans-serif;
        color:black;
        font-size:22px;
        font-weight:500;
        position:relative;
        font-style:normal;
        width:350px;
        bottom:230px;
        left:250px;
    } 
    .header1{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:44px;
        font-family:"montserrat",sans-serif;
        top:125px;
        font-weight:400;
        left:225px;
    }
    .header2V{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:28px;
        font-family:"montserrat",sans-serif;
        bottom:230px;
        font-weight:300;
        left:250px;
    }
    .header2G{
        grid-area:1/1/2/2;
        position:relative;
        color:rgba(218,165,32);
        font-size:28px;
        font-family:"montserrat",sans-serif;
        font-weight:300;
        bottom:230px;
        left:300px;
    }
    .header1P{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:34px;
        font-family:"montserrat",sans-serif;
        font-weight:300;
        bottom:330px;
        left:850px;
    }
    .projLink1{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:28px;
        font-family:"montserrat",sans-serif;
        bottom:-250px;
        left:825px;
        bottom:275px;
    }
    .projLink2{
        grid-area:2/2/3/3;
        display:flex;
        position:relative;
        color:rgba(218,165,32);
        font-size:28px;
        font-family:"montserrat",sans-serif;
        bottom:235px;
        right:-825px;
        width:250px;
        height:30px;
        text-align: flex-start;
        justify-self:flex-start;
    }
    .projLink3{
        grid-area:2/2/3/3;
        position:relative;
        color:rgba(218,165,32);
        font-size:28px;
        font-family:"montserrat",sans-serif;
        bottom:200px;
        right:-825px;
    }
    .projHr3{
    grid-area:3/3/4/4;
    rotate:90deg;
    width:100px;
    background:linear-gradient(90deg,rgba(218,165,32),rgba(255,255,255));
    height:10px;
    border:transparent;
    position:relative;
    top:155px;
    right:260px;
    bottom:300px;
    }
    
}
@media(max-width:1024px){

}
@media(max-width:1366px){

}
@media(max-width:1920px){
    
}
